{%extends 'index.html'%}
{%load static%}
{%block links%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{%static 'css/userindex.css'%}">
{%endblock%}

{%block content%}
<body onload="getrecords();">
    <navbar class="navbar navbar-expand-md fixed-top" style="background-color:#d99058;">
         
     <a class="navbar-brand nav-bar-text" href="#" style="font-size:25px;color:white;">Book Management System</a>
         <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         
           <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <p style="font-size:18px;color:white;padding-right:10px;padding-top:10px;" onclick="admindashboard();">Dashboard</p>
             </li>
             <li class="nav-item">
                <a class="nav-link nav-bar-text" href="../" style="font-size:18px;color:white;">Logout</a>
             </li>
            </ul>
         </div>
       </navbar>

       {%block display%}
              <p style="margin-top:7%;margin-left:40%;">Hello User: <i id="emid">{{email}}</i></p>
              <i style="display:inline-block;margin-left: 40%;
              margin-top: 20px;"><h6>Search by: </h6></i>
              <div class="btn-group btn-group-toggle" data-toggle="buttons" style="display:inline-block;margin-left:20px;
              margin-top: 50px;">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="title" autocomplete="off" checked> Title
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="author" autocomplete="off"> Author
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="isbn" autocomplete="off"> ISBN
                  </label>
              </div>
              <div class="searchbar" id="search-bar">
                  <p>{{data}}</p>
                  <input type="text" id="search-box" style="display: inline-block;">
                  <button type="submit" id="search-button" onclick="optsel();"><i class="fa fa-search"></i></button>
              </div>
              <div style="margin-top: 10%;padding-left: 35%;display:flex;">
                  <button id="insert-option" class="btn btn-primary" onclick="insertscreen();">INSERT RECORDS</button>
                  <button id="delete-option" class="btn btn-danger" onclick="deleteitems();" style="margin-left: 5%;">DELETE SELECTED BOOKS</button>
              </div>
              <div id="book-list" style="margin-top: 1%;padding-left: 6%;padding-right:5%;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">Title</th>
                      <th scope="col">Author</th>
                      <th scope="col">Genre</th>
                    </tr>
                  </thead>
                  <tbody id="book-table">
                    {%for book in books%}
                    <tr>
                      <td><input type="checkbox" id="{{book.isbn}}" onchange="adddel(this.id);"></td>
                      <td>{{book.id}}</td> 
                      <td onclick="tableclick(this);">{{book.title}}</td>  
                      <td>{{book.author}}</td>
                      <td>{{book.genre}}</td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
      {%endblock%} 
       </body>
       <script type="text/javascript" src="{%static 'js/mgmbook.js'%}"></script>
       <script type="text/javascript" src="{%static 'js/mgmusers.js'%}"></script>
{%endblock%}