{%extends 'html/login.html'%}
{%load static%}
{%block links%}

<link rel="stylesheet" type="text/css" href="{%static 'css/loginstyles.css'%}">

{%endblock%}
{%block login-page%}
<div class="login" id="signup">
    <h5>User Signup</h5>
    <form>
        <div class="form-group">
            <label for="user-email">Email address</label>
            <input type="email" class="form-control" id="user-email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="user-name">Name</label>
            <input type="text" class="form-control" id="user-name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="user-pwd">Password</label>
            <input type="password" class="form-control" id="user-pwd" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="cnf-pwd">Confirm Password</label>
            <input type="password" class="form-control" id="cnf-pwd" placeholder="Confirm Password">
        </div>
        <button type="button" class="btn btn-outline-secondary" onclick="submitform();">Sign up</button>
    </form>
</div>
<script type="text/javascript" src="{%static 'js/signup.js'%}"></script>
<script type="text/javascript" src="{%static 'js/mgmusers.js'%}"></script>
{%endblock%}